<!-- Page Content  -->
<div id="content">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>
      </div>
    </nav>
    <div class="row">
      <div class="offset-3"></div>
      <div class="col-md-6">
        <h2>Create product</h2>
<!--    FORM-->
        <form name="form" #f="ngForm" (submit)="createProduct()" novalidate class="feedback-form">
        <!--        NAME-->
          <div class="form-group input-group-lg">
            <label for="name">Product name</label>
            <input class="form-control"
                   placeholder="Product name"
                   type="text"
                   id="name"
                   name="name"
            [(ngModel)]="model.name"/>
          </div>
          <!--        DESC-->
          <div class="form-group input-group-lg">
            <label for="description">Product description</label>
            <input class="form-control"
                   placeholder="Product description"
                   type="text"
                   id="description"
                   name="description"
                   [(ngModel)]="model.description"/>
          </div>
          <!--        COST-->
          <div class="form-group input-group-lg">
            <label for="description">Cost</label>
            <input class="form-control"
                   placeholder="Cost"
                   type="text"
                   id="cost"
                   name="cost"
                   [(ngModel)]="model.cost"/>
          </div>
          <!--        KCAL-->
          <div class="form-group input-group-lg">
            <label for="description">KCAL</label>
            <input class="form-control"
                   placeholder="Product description"
                   type="text"
                   id="kcal"
                   name="kcal"
                   [(ngModel)]="model.kcal"/>
          </div>
          <!--        MASS-->
          <div class="form-group input-group-lg">
            <label for="description">Mass</label>
            <input class="form-control"
                   placeholder="Product description"
                   type="text"
                   id="mass"
                   name="mass"
                   [(ngModel)]="model.mass"/>
          </div>

          <!--          BUTTON-->
          <button type="submit" class="btn btn-info pull-right">
            <i class="fa fa-envelope-o"></i>
            <span>Create</span>
          </button>
        </form>
      </div>
    </div>
  </div>
<!--GRID-->
  <div class="form-group">
    <ag-grid-angular
      style="width: 500px; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
</div>
